<h2>Template: <small>Switches</small></h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            Género
        </label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" 
                       formControlName="genero"
                       type="radio" 
                       value="M"
                       id="radioMasculino">
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" 
                       formControlName="genero"
                       type="radio"
                       value="F"
                       id="radioFemenino">
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
              </div>
        </div>
    </div>



    <!-- Switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            Notificaciones
        </label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                       formControlName="notificaciones"
                       type="checkbox" 
                       role="switch" 
                       id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
              </div>

        </div>
    </div>

    <!-- Check -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
        </label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" 
                       formControlName="condiciones"
                       type="checkbox"
                       value="" 
                       id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Terminos y condiciones de uso
                </label>
              </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit"
                    class="btn btn-primary float-end">
                guardar
            </button>
        </div>
    </div>

</form>

<div class="row">
    <div class="col">
        <span>Valor del formulario</span>
        <pre> {{ miFormulario.value | json }}</pre>
        <br>

        <span>Valid</span>
        <pre> {{ miFormulario.valid }}</pre>
        <br>

        <span>Persona</span>
        <pre> {{ persona | json }}</pre>
        <br>


    </div>
</div>
